services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: nextapp_user
      POSTGRES_PASSWORD: supersecret
      POSTGRES_DB: nextapp
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:
